<style>
body{
 background-color:#f7efda;
 margin: 0 15%;
 font-family: Georgia, serif;
 font-size: 100%;
 line-height: 175%
}
header{
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  color: #DDA0DD;
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  border-bottom: 1px solid #97976a;
}
h1{
text-align: left;
font-family: serif;
font-weight: lighter;
text-transform: full-width;
color: #df949d;
border-bottom: 1px solid #97976a;
}
h2{
 font-size: 1em;
 font-weight: lighter;
 font-family: sans-serif;
 text-align: left;
}
a:link {
  color: #df949d;
}
a:visted {
  color: #97976a;
}
a:hover {
  color:  #97976a;
  background-color: #fff;
}
a:active {
  color: #df949d
  background-color: white;
}

</style>
